@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

body {
  font-family: "Roboto";
}

body {
  font-family: "Roboto";
}

body {
  background-color: #f8ffee;
}

.banner-1 {
  background-image: url("../img/Spurgeon-Banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  height: 100vh;
}
.banner-2 {
  background-image: url("../img/banner2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  height: 50vh;
}
.banner-2 .bannerQuote-Wrapper-1 .bannerQuote-sm {
  float: right;
}
.bannerQuote {
  color: white;
  font-weight: bold;
  font-size: 3rem;
}
.bannerQuote-xl {
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
  font-size: 4em;
  color: white;
  font-weight: bold;
}
.bannerQuote-sm {
  font-size: 2em;
  color: white;
  font-weight: bold;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
}
.bannerQuote-Wrapper-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  float: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 50vw;
  padding: 20px;
}

.innerHeader {
  position: absolute;
}

header .navBorder {
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 100vw;
  height: 20vh;
  max-width: 100%;
}
header .navBorder .schoolLogo img {
  width: 500px;
}
header .navBorder .nav-wrapper {
  height: 100%;
}
header .navBorder .nav-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.2rem;
  height: inherit;
}
header .navBorder .nav-wrapper ul li {
  height: inherit;
}
header .navBorder .nav-wrapper ul li a {
  height: inherit;
  color: #025b07;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
}
header .navBorder .nav-wrapper ul li a:hover {
  background-color: #be6101;
  -webkit-box-shadow: 0px 1px 2px #000;
          box-shadow: 0px 1px 2px #000;
  color: white;
}
header #nav-hamburger-wrapper {
  display: none;
}

.bigButton {
  background-color: rgba(150, 255, 0, 0.5);
  border-radius: 15px;
  width: 250px;
  height: 100px;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner-1 .enrollNow {
  gap: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner-1 .enrollNow .bannerQuote-xl {
  font-size: auto;
  width: 500px;
}

.explore {
  margin-bottom: 50px;
}
.explore-Option {
  border: 1px solid #025b07;
  width: 100%;
  height: 60px;
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
}
.explore-Option:hover {
  background-color: #be6101;
  -webkit-box-shadow: 0px 1px 2px #000;
          box-shadow: 0px 1px 2px #000;
  color: white;
  border-style: none;
}
.explore-Option a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  width: inherit;
  -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
}
.explore-Option a:hover {
  color: white;
}
.explore-grid {
  grid-template-columns: repeat(3, 200px);
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3em;
     -moz-column-gap: 3em;
          column-gap: 3em;
  row-gap: 1.5em;
}
.explore-grid-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-Cat {
  font-size: 3rem;
  font-style: italic;
  color: #025b07;
  text-shadow: 0px 1px 4.5px black;
  padding: 20px 100px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
}

.article-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 980px;
  gap: 20px;
  margin: 0 auto;
}
.article-container .news-slider {
  height: 388px;
}
.article-content {
  background-color: white;
  -webkit-box-shadow: 1px 2px 6px #000;
          box-shadow: 1px 2px 6px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 800px;
}
.article-image {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  width: 50%;
  border-right: 1px solid black;
}
.article-image img {
  width: 100%;
}
.article-text {
  width: 50%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.article-text p {
  line-height: 1.5em;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news-event {
  margin-bottom: 50px;
}
.news-slider {
  -webkit-box-shadow: 1px 2px 6px #000;
          box-shadow: 1px 2px 6px #000;
  overflow: scroll;
  overflow-x: hidden;
}
.news-headline {
  background-color: #d5ff9b;
  height: 80px;
  border-bottom: 1px black solid;
  max-width: inherit;
  padding: 5px;
}
.news-headline-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.news-headline .footer-article-date {
  font-size: 0.8em;
}
.news-headline h3 {
  font-weight: lighter;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 170px;
}
.news-headline-footer {
  text-align: end;
}
.news-selected {
  background-color: #5a9b00;
  color: white;
}

.readMoreNews {
  background-color: #d5ff9b;
  height: 40px;
  max-width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.readMoreNews h3 {
  font-weight: lighter;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.footer-article {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.missionVision {
  background-image: linear-gradient(45deg, #96ff00, #025b07);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0px;
}
.missionVision-container {
  display: grid;
  width: 980px;
  grid-template-columns: repeat(2, 490px);
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.5em;
}
.missionVision-box {
  width: 490px;
  height: auto;
}
.missionVision-h2 {
  color: white;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
  font-size: 2em;
  margin-bottom: 15px;
}
.missionVision-p {
  line-height: 1.5em;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
  color: white;
}
.missionVision-title {
  text-align: center;
  margin-bottom: 20px;
}
.missionVision-title h1 {
  color: white;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
  font-size: 3.5em;
  font-style: italic;
}

.visionSec {
  text-align: end;
}
.visionSec img {
  width: 490px;
}

#mainfooter {
  background-color: #025b07;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  color: white;
}
#mainfooter-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#mainfooter-cr {
  opacity: 0.5;
}

.mainfooter-container {
  width: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
}
.mainfooter-xl {
  font-size: 1.2em;
}
.mainfooter-sm {
  font-size: 1em;
  line-height: 1.5em;
}
.mainfooter-sm a {
  color: #d5ff9b;
}

@media (max-width: 800px) {
  header .navBorder {
    background-color: white;
    height: 100%;
    padding: 10px 20px;
  }
  header .navBorder .schoolLogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .navBorder .schoolLogo img {
    width: 250px;
  }
  header .navBorder .nav-wrapper {
    background-color: white;
    top: 0;
    left: 0;
    position: absolute;
    height: 100vh;
    margin-left: -50vw;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 100;
  }
  header .navBorder .nav-wrapper ul {
    display: block;
    width: 50vw;
    height: 100px;
  }
  header .navBorder .nav-wrapper ul li a {
    padding: 0 20px;
    width: 100%;
  }
  header #nav-hamburger {
    font-size: 1.5em;
    color: #025b07;
    z-index: 101;
    position: absolute;
    display: block;
  }
  header #nav-hamburger-wrapper {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 20px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  header #nav-hamburger-wrapper:hover {
    cursor: pointer;
  }
  header #nav-exit {
    position: absolute;
    display: none;
    font-size: 1.5em;
    color: #025b07;
    z-index: 101;
  }

  .banner-1 .enrollNow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bannerQuote-Wrapper-1 .bannerQuote-xl {
    font-size: 2em;
  }
  .bannerQuote-Wrapper-1 .bannerQuote-sm {
    font-size: 1em;
  }
  .bannerQuote-xl {
    font-size: 3em;
  }
  .bannerQuote-sm {
    font-size: 1.5em;
  }

  .enrollNow .bannerQuote-xl {
    text-align: center;
  }

  .explore-Option {
    font-size: 1em;
  }
  .explore-grid {
    grid-template-columns: repeat(2, 120px);
  }

  .section-Cat {
    font-size: 2.5rem;
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .article-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px;
  }
  .article-container .news-slider {
    height: 100%;
  }
  .article-content {
    width: auto;
  }
  .article-text h1 {
    font-weight: lighter;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1.2em;
  }
  .article-text p {
    font-size: 0.8em;
    -webkit-line-clamp: 5;
  }

  .footer-article {
    font-size: 0.8em;
  }

  .news-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow: scroll;
    overflow-y: hidden;
    background-color: #d5ff9b;
    max-width: 100%;
  }
  .news-headline {
    border-style: none;
    border-right: 1px black solid;
    min-width: 9em;
  }
  .news-headline-title {
    font-size: 0.8em;
  }
  .news-headline-footer {
    font-size: 0.8em;
  }

  .readMoreNews {
    margin: auto 0;
    height: inherit;
    text-align: center;
    font-size: 0.8em;
    min-width: 80px;
  }

  .missionVision-container {
    width: 100%;
    grid-template-columns: repeat(1, 100%);
  }
  .missionVision-container img {
    display: none;
  }
  .missionVision-box {
    text-align: justify;
  }
  .missionVision-h2 {
    text-align: center;
  }

  #mainfooter .mainfooter-container {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 10px;
  }
}
@media (max-width: 500px) {
  header .navBorder {
    background-color: white;
    height: 100%;
    padding: 10px 20px;
  }
  header .navBorder .schoolLogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .navBorder .schoolLogo img {
    width: 250px;
  }
  header .navBorder .nav-wrapper {
    background-color: white;
    top: 0;
    left: 0;
    position: absolute;
    height: 100vh;
    margin-left: -50vw;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 100;
  }
  header .navBorder .nav-wrapper ul {
    display: block;
    width: 50vw;
    height: 100px;
  }
  header .navBorder .nav-wrapper ul li a {
    padding: 0 20px;
    width: 100%;
  }
  header #nav-hamburger {
    font-size: 1.5em;
    color: #025b07;
    z-index: 101;
    position: absolute;
    display: block;
  }
  header #nav-hamburger-wrapper {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 20px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  header #nav-hamburger-wrapper:hover {
    cursor: pointer;
  }
  header #nav-exit {
    position: absolute;
    display: none;
    font-size: 1.5em;
    color: #025b07;
    z-index: 101;
  }

  .banner-1 .enrollNow {
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bannerQuote-Wrapper-1 {
    width: 100vw;
  }
  .bannerQuote-Wrapper-1 .bannerQuote-xl {
    font-size: 2em;
  }
  .bannerQuote-Wrapper-1 .bannerQuote-sm {
    font-size: 1em;
  }
  .bannerQuote-xl {
    font-size: 3em;
  }
  .bannerQuote-sm {
    font-size: 1.5em;
  }

  .explore-Option {
    font-size: 1em;
  }
  .explore-grid {
    grid-template-columns: repeat(2, 120px);
  }

  .section-Cat {
    font-size: 2.5rem;
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer-article {
    font-size: 0.8em;
  }

  .news-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow: scroll;
    overflow-y: hidden;
    background-color: #d5ff9b;
    max-width: 100%;
  }
  .news-headline {
    border-style: none;
    border-right: 1px black solid;
    min-width: 9em;
  }
  .news-headline-title {
    font-size: 0.8em;
  }
  .news-headline-footer {
    font-size: 0.8em;
  }

  .readMoreNews {
    margin: auto 0;
    height: inherit;
    text-align: center;
    font-size: 0.8em;
    min-width: 80px;
  }
}
@media (max-width: 400px) {
  .footer-article {
    font-size: 0.6em;
  }

  .missionVision-title h1 {
    font-size: 3em;
  }
  .missionVision-container {
    width: 100%;
    grid-template-columns: repeat(1, 100%);
  }
  .missionVision-box {
    width: inherit;
    padding: 0 20px;
  }
}