// @import "mixin";
$primaryC: rgb(2, 91, 7);
$secondaryC: #f8ffee;
$tertiaryC: #be6101;
$textShadow: 1px 2px 4px rgb(0, 0, 0, 0.6);
$selectedNewsC: #d5ff9b;
$boxShadow: 1px 2px 6px#000;

body {
  background-color: $secondaryC;
}

.banner {
  &-1 {
    background-image: url("/img/Spurgeon-Banner.png");
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: left;
    @include bgBanner;
    height: 100vh;
  }
  &-2 {
    background-image: url(/img/banner2.jpg);

    @include bgBanner;
    height: 50vh;
    .bannerQuote-Wrapper-1 {
      .bannerQuote-sm {
        float: right;
      }
    }
  }
  &Quote {
    color: white;
    font-weight: bold;
    // font-size: 6vh;
    font-size: 3rem;
    &-xl {
      text-shadow: $textShadow;
      font-size: 4em;
      color: white;
      font-weight: bold;
    }
    &-sm {
      font-size: 2em;
      color: white;
      font-weight: bold;
      text-shadow: $textShadow;
    }
    &-Wrapper {
      &-1 {
        display: flex;
        justify-content: center;
        text-align: right;
        float: right;
        flex-direction: column;
        height: 100%;
        // width: 50vw;
        // padding-right: 20px;
      }
    }
  }
}

.innerHeader {
  position: absolute;
  // height: 100vh;
}
header {
  height: 15vh;

  .logo-mobile {
    display: none;
  }

  .navBorder {
    background-color: rgb(255, 255, 255, 0.4);
    z-index: 100;
    @include centerContent;
    gap: 20px;
    width: 100vw;
    height: 20vh;
    position: fixed;

    .schoolLogo {
      img {
        width: 500px;
      }
    }
    ul {
      display: flex;
      flex-direction: row;
      // gap: 20px;
      font-size: 1.2rem;
      height: inherit;

      li {
        height: inherit;
        a {
          height: inherit;
          color: #025b07;
          text-shadow: 3px 3px 4px rgb(0, 0, 0, 0.3);
          @include centerContent;
          width: 80px;
          &:hover {
            // background-color: $tertiaryC;
            @include linkHover;
          }
        }
      }
    }
  }
}

.bigButton {
  background-color: rgb(150, 255, 0, 0.5);
  border-radius: 15px;
  width: 250px;
  height: 100px;
  // padding: 25px 15px;
  // padding: 2.5rem 1.5rem;
  font-size: 2.5rem;

  font-weight: bold;
  color: white;
  @include centerContent;
}

.banner-1 {
  @include centerContent;
  .enrollNow {
    gap: 40px;
    @include centerContent;
    .bannerQuote-xl {
      font-size: auto;
      width: 500px;
    }
  }
}

.explore {
  // background-color: $secondaryC;
  // width: 100vw;
  margin-bottom: 50px;

  &-Option {
    // font-style: italic;
    border: 1px solid $primaryC;
    width: 100%;
    height: 60px;
    font-size: 1.5em;
    @include centerContent;
    text-align: center;
    transform: skewX(-20deg);
    &:hover {
      @include linkHover;
      border-style: none;
    }
    a {
      @include centerContent;
      height: inherit;
      width: inherit;
      transform: skewX(20deg);
      &:hover {
        color: white;
      }
    }
  }

  &-grid {
    grid-template-columns: repeat(3, 200px);
    @include centerItem;
    column-gap: 3em;
    row-gap: 1.5em;

    &-sec {
      @include centerContent;
    }
  }
}
.section {
  &-Cat {
    font-size: 3rem;
    font-style: italic;
    color: $primaryC;
    text-shadow: 0px 1px 4.5px black;
    padding: 20px 100px;
    @include textStroke;
  }
}

.article {
  &-container {
    @include centerContent; // width: 1400px;
    // margin: 0px 178px;
    // border: 1px solid black;
    flex-direction: row;
    // height: 490px;
    max-width: 980px;
    gap: 20px;
    margin: 0 auto;
    .news-slider {
      height: 388px;
    }
  }
  &-content {
    background-color: white;
    // border: 1px solid black;

    box-shadow: $boxShadow;
    display: flex;
    flex-direction: row;
    width: 800px;
  }
  &-image {
    overflow: hidden;
    @include centerContent;
    height: auto;
    width: 50%;
    border-right: 1px solid black;
    img {
      // height: auto;
      width: 100%;
    }
  }

  &-text {
    width: 50%;
    padding: 10px;
    // @include centerContent;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    justify-content: space-around;
    p {
      @include articleTextOverflow;
    }
  }
}
.news {
  &-event {
    margin-bottom: 50px;
  }
  &-slider {
    // border: 1px solid black;
    box-shadow: $boxShadow;
    overflow: scroll;
    overflow-x: hidden;
  }
  &-headline {
    background-color: $selectedNewsC;
    height: 80px;
    border-bottom: 1px black solid;
    max-width: inherit;
    padding: 5px;
    &-title {
      @include centerContent;
    }
    .footer-article-date {
      font-size: 0.8em;
    }

    h3 {
      @include h3NewsLink;
    }
    &-footer {
      text-align: end;
      // padding: 5px;
    }
  }
  &-selected {
    background-color: darken($color: $selectedNewsC, $amount: 50);
    // filter: brightness(50%);
    color: white;
  }
}
.readMoreNews {
  background-color: $selectedNewsC;
  height: 40px;
  // border-bottom: 1px black solid;
  max-width: inherit;
  @include centerContent;
  h3 {
    @include h3NewsLink;
  }
}

.footer {
  &-article {
    // display: flex;
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.missionVision {
  background-image: linear-gradient(45deg, #96ff00, #025b07);
  padding: 50px 0px; // height: 75vh;
  @include centerContent;
  flex-direction: column;
  &-container {
    display: grid;
    width: 980px;

    grid-template-columns: repeat(2, 490px);
    @include centerItem;
    // column-gap: 3em;
    row-gap: 1.5em;
  }
  &-box {
    width: 490px;
    height: auto;
  }
  &-h2 {
    color: white;
    text-shadow: $textShadow;
    font-size: 2em;
    margin-bottom: 15px;
  }
  &-p {
    line-height: 1.5em;
    text-shadow: $textShadow;
    color: white;
  }

  &-title {
    text-align: center;
    h1 {
      color: white;
      text-shadow: $textShadow;
      font-size: 3.5em;
      font-style: italic;
    }
  }
}
.visionSec {
  text-align: end;
  img {
    width: 490px;
  }
}

#mainfooter {
  background-color: $primaryC;
  height: 150px;
  @include centerContent;
  flex-direction: column;
  gap: 10px;
  color: white;
  &-contact {
    display: flex;
    flex-direction: column;
  }
  &-cr {
    opacity: 0.5;
  }
}

.mainfooter {
  &-container {
    width: 490px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-shadow: $textShadow;
  }
  &-xl {
    font-size: 1.2em;
  }
  &-sm {
    font-size: 1em;
    line-height: 1.5em;
    a {
      color: $selectedNewsC;
    }
  }
}
